<h1>PRODUCTS IN CART PAGE</h1>

{{#if cartProducts.products}}
   {{#each cartProducts.products}}
        {{#if @first}}
           <h2>Cart details:</h2>
        {{/if}}
        <div>
            <p>Title: {{this.id_product.title}}</p>
            <p>Description: {{this.id_product.description}}</p>
            <p>Price: ${{this.id_product.price}}</p>
            <p>Code: {{this.id_product.code}}</p>
            <p>Quantity: {{this.quantity}}</p>
            <br/>
        </div>
        {{#if @last}}
           <h4>End products</h4>
        {{/if}}
   {{/each}}
{{else}}
   <h2>Empty cart</h2>
{{/if}}