<div>
    <h1>CHAT</h1>
    <input id="chatBox">
    <p id="logs"></p>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>