<h1>List of Products</h1>

{{#if resultProducts}}
   <ul>
    {{#each resultProducts}}    
      <li><p>
        Producto nro: {{this.id}}.
        </br>
        Titulo: {{this.title}}.
        Descripcion: {{this.description}}.
        Precio: ${{this.price}}.
        Codigo: {{this.code}}.
        Stock disponible: {{this.stock}} unidades.
      </p></li> 
    {{/each}}
   </ul>
{{else}}
   <h2>Aun no hay productos disponibles.</h2>
{{/if}}

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>