<div>
    <h1>Login to your account</h1>
    <form id="loginForm" >        
        <label>Email Address</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

<div>
<p>If you prefer, you can also register and login via Github.</p>
<a href="/api/sessions/github"><button>Github</button></a>
</div>

<script src="/js/login.js"></script>