<h1>Welcome, {{user.name}}!</h1>

<h3>List of available products</h3>
{{#each products}}
<p>{{this.description}}</p>
<p>Cost: ${{this.price}}<button>Add to cart</button></p>
<br/>
{{/each}}


{{#if hasPrevPage}}
<a href="/products/?limit={{valueLimit}}&page={{prevPage}}&sort={{valueSort}}"><button>Previous</button></a>
{{/if}}

{{valuePage}}

{{#if hasNextPage}}
<a href="/products/?limit={{valueLimit}}&page={{nextPage}}&sort={{valueSort}}"><button>Next</button></a>
{{/if}}

<div>
    <button id="logoutButton">Log out</button>
</div>

<script src="/js/products.js"></script>