<div>
    <h1>Create your user</h1>
    <form id="registerForm" >
        <label>Name</label>
        <input name="first_name">
        <label>Last Name</label>
        <input name="last_name">
        <label>Email Address</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/register.js"></script>